body{  font-weight: 900;
  font-family: cursive;
  overflow-x: hidden;
}
.poslygi{
    flex-direction:column;
    display: flex;
    background:  rgba(255, 156, 212, 1);
    background-size: cover;
    background-repeat: no-repeat;
  }
.tys{
  position: absolute;
  display: none;
  pointer-events:none;
  width:2000px;
  height:900px;
  Z-index:9000000000000;
  animation: biba 11s;
  transform: translateX(250px) translateY(-150px);
}
@keyframes biba {
  85%{
    filter: brightness(9.9) contrast(1.1) sepia(0.6) saturate(4);
  }
}
.styleset{
  position: absolute;
  background: #6b6b6b;
  display: none;
  flex-direction: row;
  z-index: 999;
  border-radius: 10px;
}

.styleset1{
  background: #6b6b6b;
  margin:50px;
  display: none;
  position: absolute;
  transform: translateX(300px);
  z-index: 90000;
}
.styleset2{
  display: flex;
  flex-direction: column;
  font-size:20px;
}
.styleset2 p{
  margin: 5px
}
.styleset3{
  display: flex;
  margin: 15px
}
.smile {
  position: absolute;
  display: flex;
  z-index: 0;


}
@keyframes smileM{
  0%{opacity:0;}
  25%{opacity:1;}


100%{transform: translateX(-800px);}}


.poslygigolovna{
  display: flex;
  flex-direction:row;
  align-items:center;
  margin:5px;
  color: white;
  font-size: 35px;
  justify-content: center;
  z-index:2;
}
.poslygigolovna h1{
  align-items:center;
  margin:15px;
  animation: movetextXH1 2s ; 
}
.poslygigolovna h2{
      align-items:center;
      font-size: 30px;
      animation: movetextXH2 2.6s ; 
}
.img1{
  width:130px;
  height:100px ;
  animation: imganim 4s;
}

.credyt{
  background: #ffffff;
  display: flex;
  flex-direction:column;
  margin:10px;
  max-width:850px;
  min-width:850px;
  border: black 3px solid;
  border-radius: 30px;
  margin-left:500px;


}
.card{
  background: url("https://static.vecteezy.com/system/resources/previews/013/480/861/non_2x/background-template-design-with-pink-stripes-image-eps10-free-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction:column;
  margin:50px;
  margin-left:0px;
  margin-left:0px;
  border: black 3px solid;
  border-radius: 30px;
  overflow: hidden;
  max-width:550px;
  min-width:550px;
  max-height:250px;
  min-height:250px;
  transition: transform 0.5s ease;
  z-index:90000;


}
.card .inp p {
  color: rgb(255, 255, 255);
}
.allinfocard{
  background: url("https://img.freepik.com/free-photo/a-pink-background-with-a-black-and-white-floral-design_1340-42488.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  display: flex;
  max-width:350px;
  min-width:350px;
  max-height:575px;
  min-height:575px;
  z-index:2000;
  opacity:0;
  position: absolute;
  transform: translateX(-400px);
  flex-direction:column;
  font-size:22px;
}
.infocard{
  color: #ffffff;
  margin-left: 15px;
  font-family:  cursive;
  font-size: 1.2rem;
}

.inp{
  display: flex;
  flex-direction:row;
  margin:4px;
}
.inp input{
  border-radius: 15px;
  margin:15px;
  width: 170px;
  height: 50px;
  text-align: center;
}
.inp p{
  font-size: 30px;
  display: flex;
  align-items:center;
  color: rgb(82, 82, 82);
  margin:5px;
}
.like{
  width: 90px;
  height: 60px;
  margin:15px;
}
.inp .footer-logo{
  margin-left:320px;
}
.card-logo{
  color:#ffffff;
  margin-left:180px;
  font-family: 'Pacifico', cursive;
  font-size: 1.6rem;
}
.footer-poslyg {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-poslyg p {
  background-color: #c92f6a;
  border-radius: 30px;
  color: #ffffff;
  margin: 15px;
  padding: 10px 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.footer-poslyg p:hover {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 10px 20px;
  color: #c92f6a;
}
.footer-poslyg h4 {
  background-color: #ffffff;
  font-size: 25px;
  border-radius: 30px;
  color: #6b6b6b;
  padding: 10px 20px;
  transition: all 0.3s ease;
}
.footer-poslyg h4:hover {
  background-color: #575757;
  border-radius: 10px;
  font-size: 35px;
  color: #ffffff;
}
.But{
  margin-bottom:30px;
}
.povernenya .sc .oplatakredit{
  font-size: 35px;
  margin:15px;
}
.angry{
  width:1300px;
  height:1000px;
  opacity: 0;
  position: absolute;
  overflow-x: hidden;
  display: none;
  transform: translateY(-900px) translateX(300px); 
  pointer-events:none;
  z-index:10000000;
}
.cardscredit{
  display: flex;
  flex-direction: row-reverse;
  transition: transform 0.3s ease;
  z-index:90000;
}
.cardscredit2{
  display: flex;
  flex-direction: row-reverse;
  z-index:7000;
}
.skip-right{
  display: flex;
  z-index:2;
  background-color: #c92f6a;
  border-radius: 30px;
  font-size: 25px;
  color: #ffffff;
  margin: 15px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  cursor: pointer;

}
.skip-left{
  display: flex;
  z-index:2;
  background-color: #c92f6a;
  border-radius: 30px;
  font-size: 25px;
  color: #ffffff;
  margin: 15px;
  padding: 10px 20px;
  cursor: pointer;

}
.evreyskabaza2{
  transform: translateX(700px);
  transform: scaleX(-1);
  display: flex;
  flex-direction: row;
  z-index:2;
}
.evreyskabaza1{
  transform: translateX(-700px);
  display: flex;
  flex-direction: row;
  z-index:3;
}
.evrei1{
  position: absolute; 
  width:200px;
  height:150px;
  display: flex;
  z-index:3;
}
.evrei2{
  position: absolute; 
  width:200px;
  height:150px;
  transform: scaleX(-1);
  display: flex;
  z-index:3;
}

.poslygi-not-info{
    display: flex;
    flex-direction: column;
}
@keyframes evreimove{
  0%{transform: translateX(0px)}
  100%{transform: translateX(2600px)
};

}
@keyframes imganim {
    00%{
    opacity:0;
transform: rotate(1000deg) ;
  }
  30%{
    opacity:0;
transform: rotate(1000deg) ;
  }
    80% {

opacity:1;
transform: rotate(0deg) ;
  }
}



@keyframes movetextXH2 {
  0%{
opacity:0;
transform: translateX(200px);
  }
    80% {

transform: translateX(0px);
opacity:1;
  }
}
@keyframes movetextXH1 {
  0%{
opacity:0;
transform: translateX(-200px);
  }
    80% {

transform: translateX(0px);
opacity:1;
  }
}