body{  font-weight: 900;
  font-family: cursive;
}
.poslygigolovna{
  display: flex;
  flex-direction:row;
  align-items:center;
  background-color: rgb(216, 0, 152) ;
  color: white;
  font-size: 30px;
}
.img1{
  width:170px;
  height:100px ;
      animation: imganim 2s ease-out;
}
@keyframes imganim {
  0%{
transform: translateX(1000px);
  }
    80% {
transform: translateX(0px);
  }
}